@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, #app, body, .body{
    height: 100%;
}
.body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

